<div>
    <button class="form-button" id='showLogin' ng-click="loginActive = !loginActive">{{loginActive ? 'Скрыть' : 'Логин'}}</button>
    <div id="authform" ng-show="loginActive">
        <input class="form-input" id="user" type="text" placeholder="Ник" ng-model="user.data.nick">
        <input class="form-input" id="password" type="password" placeholder="Пароль" ng-model="user.data.password">
        <button
            id="authButton"
            class="form-button"
            ng-click="login(user); loginActive = false;">
            Войти
        </button>
    </div>
</div>