<!DOCTYPE html>
<html lang="en" ng-app="base">
<head>
    <meta charset="UTF-8">
    <title>BakerStreet 221b Mafia Club</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body ng-controller="baseCtrl">
<header id="header">
    <div class="page-title-container">
        <a id="page-logo-ref" href="/home">
            <img src="../img/main_logo.png" alt="BakerLogo" id="pageLogo">
        </a>
        <div id="page-title">
            <div class="page-title-part">"Baker Street 221b"</div>
            <div class="page-title-part">Mafia Club</div>
        </div>
    </div>
    <nav>
        <ul class="main-menu">
            <li class="main-menu-item" ng-repeat="(i, page) in PAGES" ng-class="{current:number == i}">
                <a class="main-menu-ref" ui-sref="{{'/' + page.url}}" ng-click="setPage(i)">
                    {{page.name}}
                </a>
            </li>
        </ul>
    </nav>
</header>
    <main ui-view id="page-container">
    </main>
</body>



<script src="../js/lib/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/lib/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/base.module.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/config.module.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/server.module.js" type="text/javascript" charset="utf-8"></script>



<script src="../js/server.service.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/router.config.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/config.constant.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/pages.constant.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/base.controller.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
</html>