/*============= PROTOCOL =========*/
protocol,
protocol caption,
protocol th {
    font-family: "Barocco_Floral_Initial", Georgia, 'Times New Roman', serif;
    color: black;
    text-align: center;
    font-weight: 100;
}
.metadata-container [metadata] td,
.protocol-container .player-container td {
    vertical-align: middle;
}

protocol .btn-primary {
    background-color: #f0dab4;
    color: #000;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
protocol .btn-primary:hover,
protocol .btn-primary:active,
protocol .btn-primary:active:focus,
protocol .btn-primary:active:hover,
protocol .btn-primary:focus,
protocol .btn-primary:focus:hover {
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
    position: relative;
    bottom: 1px;
    left: 1px;
    background-color: rgb(217, 185, 128);
    border: none;
    outline-color: #000;
}
protocol #timerTime {
    color: #000;
}
protocol #timerContainer {
    border-color: #fff;
}

a:focus, a:hover {
    color: #000;
    text-decoration: none;
}
