<button class="form-button" id='showLogin'>Я орг</button>
<div id="authform">
    <input class="form-input" id="user" type="text" name="" value="" placeholder="Ник">
    <input class="form-input" id="password" type="password" name="" value="" placeholder="Пароль">
    <button id="authButton" class="form-button">Войти</button>
</div>