<header id="header">
    <div class="page-title-container">
        <a id="page-logo-ref" href="/home">
            <img src="public/views/img/main_logo_black.png" alt="BakerLogo" id="pageLogo">
        </a>
        <div id="page-title">
            <div class="page-title-part">"Baker Street 221b"</div>
            <div class="page-title-part">Mafia Club</div>
        </div>
    </div>
    <nav>
        <ul class="main-menu">
            <% for(var i = 0; i < pages.length; i++) { %>
                <li class="main-menu-item <%= i == current ? 'current' : ''%>"><a class="main-menu-ref" id="<%=pages[i].page%>" href="/<%=pages[i].page%>"><%=pages[i].rus%></a></li>
            <%}%>
        </ul>
    </nav>
</header>

<!-- create variables for template -->
<%for (var key in pages[current]) {
    this[key] = pages[current][key];
}
%>