<meta charset="UTF-8">
<title>BakerStreet 221b Mafia Club</title>
<style type="text/css" media="screen">
    @font-face {
        font-family: Barocco_Floral_Initial;
        src: url(public/views/fonts/Barocco_Floral_Initial.ttf);
    }
/*    @font-face {
        font-family: KZCorinthia;
        src: url(public/views/fonts/KZCorinthia.ttf);
    }*/
    @font-face {
        font-family: old_english;
        src: url(public/views/fonts/old_english.ttf);
    }
</style>
<link rel="stylesheet" type="text/css" href="public/views/css/home.css">
<script src="public/views/js/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8" defer></script>