<img
    class="player-logo"
    ng-src="data-base/players/img/{{::player.img}}"
    alt="{{::player.nick}}"
    ng-click="openNewTab(player.vk)"
    vk={{::player.vk}}
>
<div class="player-text-container">
    <p class="player-nick">{{::player.nick}}</p>
    <p class="player-faculty">{{::player.name}}</p>
    <p class="player-results" ng-show="player.avr">{{::player.avr + ' средний бал '}}{{::'(' + player.gameNumber + ' игр)'}}</p>
    <p class="player-faculty" ng-show="player.memberLevel > 2">{{::player.position}}</p>
    <p class="player-faculty">{{::player.faculty}}</p>
    <p class="player-exp">{{::player.experiance}}</p>
    <p class="player-faculty" ng-show="player.memberLevel > 2">{{::player.phone}}</p>
    <div class="honours">
        <div
        ng-repeat="(j, honour) in player.honours"
        title="{{::honour.title}}"
        class="{{::honour.type}}-{{::honour.place}} honour"
        ></div>
    </div>
</div>
