<td ng-repeat="(j, key) in players.fields" >
<div
    class="player-input"
    key="{{::key}}"
    ng-if="key !== 'presents' && key !== 'honours' && key !== 'image'"
    ng-click="startEdit($event, player, playersCtr.inputTypes[key])"
    date = "{{::key == 'birthday' ? (player[key] | date:'yyyy-MM-dd') : ''}}"
>
    {{::key == 'birthday' ? (player[key] | date) : player[key]}}
</div>
<div class="hint">
    Данные некорректны! Проверьте.
</div>

<!-- presents container -->
<div
    class="player-presents-container"
    ng-if="key ==='presents'"
    data="{{::player.presents}}"
>
    <!-- player-continer in repeate -->
    <div
        class = "present-container"
        ng-repeat="(j, present) in player[key] track by $index "
    >
        <span
            data={{::present}}
            key="presents"
            iterator="{{::j}}"
            ng-click="startEdit($event, player)"
        >
            {{::present}}
        </span>
        <button class="remove-present-button" ng-click="removeItem(player.presents, present)">-</button>
    </div>
    <div>
        <input
            class="new-present-input"
            type="text"
            ng-model="newPresent">
        <button
            class="add-present-button"
            ng-click="addPresent(player.presents, newPresent); newPresent = ''"
        >+</button>
    </div>
</div>

<div
    ng-if="key ==='honours'"
    ng-repeat="(j, honour) in player.honours track by $index"
>
    <div
        class="honour-container"
        ng-repeat="(clue, val) in honour"
    >
        <span class="player-honour-key">
            {{::clue}} :
        </span>
        <span
            class="player-honour-value"
            key="{{::key}}"
            clue="{{::clue}}"
            iterator="{{::j}}"
            ng-click="startEdit($event, player)"
        >
            {{::val}}
        </span>
    </div>

</div>

<div
    ng-if="key ==='image'"
    >
    <input
        type = "file"
        file-model = "player.imgFile"
    >
</div>
</td>
<td>
    <button class="remove-player-button" ng-click="removeItem(players.data, player)">-</button>
</td>
