<td ng-repeat="(j, key) in players.fields" >
<div
    class="player-input"
    key="{{::key}}"
    ng-if="key !== 'presents' && key !== 'honours' && key !== 'birthday'"
    ng-click="startEdit($event, player)"
>
    {{::player[key]}}
</div>

<div
    class="player-input"
    key="{{::key}}"
    date="{{::player[key]}}"
    ng-if="key === 'birthday'"
    ng-click="startEdit($event, player, 'date')"
>
    {{::player[key] | date}}
</div>

<div
    class="player-presents-container"
    ng-if="key ==='presents'"
    data="{{::player.presents}}"
>
    <div
        ng-repeat="(j, present) in player[key] track by $index "
        data={{::present}}
        key="presents"
        j="{{::j}}"
        ng-click="startEdit($event, player)"
    >
        {{::present}}
        <button class="remove-present-button" ng-click="removeItem(player.presents, present)">-</button>
    </div>
    <div>
        <input type="text" ng-model="newPresent">
        <button
            class="add-present-button"
            ng-click="addPresent(player.presents, newPresent)"
        >+</button>
    </div>
</div>

<div
    ng-if="key ==='honours'"
    ng-repeat="(j, honour) in player[key] track by $index"
>
    <div
        ng-repeat="(Key, honour) in honour"
    >
        <span class="player-honour-key">
            {{::Key}} :
        </span>
        <span class="player-honour-value">
            {{::honour}}
        </span>
    </div>
</div>
</td>
<td>
    <button id="remove-player-button" ng-click="removeItem(players, player)">-</button>
</td>
