<td ng-repeat="(i, key) in fields">
<input
    type="{{::newPlayer.types[key]}}"
    key="{{::key}}"
    ng-if="key !== 'presents' && key !== 'honours'"
    ng-model="newPlayer.data[key]"
>
</input>
<div class="hint">
    Данные некорректны! Проверьте.
</div>
<div
    class="player-present"
    ng-if="key ==='presents'"
    ng-repeat="(j, present) in player[key] track by $index "
>
    {{::present}}
</div>
<div ng-if="key ==='honours'" ng-repeat="(j, honour) in player[key] track by $index">
    <div  ng-repeat="(Key, honour) in honour">
        <span class="player-honour-key">
            {{::Key}} :
        </span>
        <span class="player-honour-value">
            {{::honour}}
        </span>
    </div>
</div>
</td>
<td>
    <button id="add-player-button" ng-click="addPlayer({player: newPlayer.data})">+</button>
</td>