<table class="table players-table table-hover">
    <thead>
        <tr>
            <th ng-repeat="(j, field) in players.fields">{{::field}}</th>
        </tr>
    </thead>
    <tbody ng-init="addBlurListener()">
        <tr ng-repeat="(i, player) in players.data" ng-include="'pages/partials/player-tr.html'">
        </tr>
        <tr>
            <tr new-player
                fields="players.fields"
                add-player="addNewPlayer(player)"
            ></tr>
        </tr>
    </tbody>
</table>
<button ng-click="setPlayers(players)">Изменить данные</button>