<table class="table players-table table-hover">
    <thead>
        <tr>
            <th ng-repeat="(j, field) in players.fields">{{::field}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(i, player) in players.data" ng-include="'pages/partials/player-tr.html'">
        </tr>
        <tr>
            <tr new-player
                add-present="addPresent(presents, present)"
                fields="players.fields"
                add-player="addNewPlayer(player)"
                start-edit="startEdit($event, player)"
                remove-item="removeItem(items, item)"
            ></tr>
        </tr>
    </tbody>
</table>
<button ng-click="setPlayers(players.data)">Изменить данные</button>