<table class="table players-table table-hover">
    <thead>
        <tr>
            <th ng-repeat="(field, value) in players[0]">{{::field}}</th>
        </tr>
    </thead>
    <tbody ng-init="addBlurListener()">
        <tr ng-repeat="(i, player) in players" ng-include="'pages/partials/player-tr.html'">
        </tr>
        <tr>
            <tr new-player
                sample="players[0]"
                players="players"
            ></tr>
        </tr>
    </tbody>
</table>
<button ng-click="setPlayers(players)">Изменить данные</button>