@font-face {
    font-family: Barocco_Floral_Initial;
    src: url(public/views/fonts/Barocco_Floral_Initial.ttf);
}
@font-face {
    font-family: old_english;
    src: url(public/views/fonts/old_english.ttf);
}