<div class="player" id="top0-player" ng-repeat="(i, contact) in contacts">
    <img
        class="player-logo"
        ng-src="../../../bs/data-base/players/img/{{contact.img}}.jpg"
        alt="{{contact.nick}}"
        ng-click="openNewTab(contact.vk)"
        vk={{contact.vk}}
    >
    <p class="player-nick">{{contact.nick}}</p>
    <p class="player-faculty">{{contact.name}}</p>
    <p class="player-faculty">{{contact.position}}</p>
    <p class="player-faculty">{{contact.faculty}}</p>
    <p class="player-exp">{{contact.experiance}}</p>
    <p class="contact-phone">{{contact.phone}}</p>
</div>