<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<div id="page-container">
    <% include partials/header %>
    <main>
        <div class="top-block">
        <%console.log("periods = ",periods)%>
        <% for(var i = 0; i < periods.length; i++) { %>
        <%var period = periods[i]%>
        <%console.log("period = ",period)%>
            <title class="top-title"><%=period.title%></title>
            <div id="top-players">
                <% for(var j = 0; j < period.honours.length; j++) { %>
                <%var player = period.honours[j]%>
                    <div class="player" id="top<%=j+1%>-player">
                        <% include partials/player %>
                    </div>
                <%}%>
            </div>
        <%}%>
    </main>
</div>
</body>
</html>