<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<div id="page-container">
    <% include partials/header %>
    <main>
        <div class="top-block">
            <div id="top-players">
                <%for(var j = 0; j < players.length; j++) { %>
                <%var player = players[j]%>
                    <div class="player" id="top0-player">
                        <% include partials/player %>
                    </div>
                <%}%>
            </div>
    </main>
</div>
</body>
</html>