<table>
    <thead>
        <tr>
            <th ng-repeat="(field, value) in players[0]">{{::field}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(i, player) in players">
            <td ng-repeat="(key, value) in player" >
            <div ng-if="key !== 'presents' && key !== 'honours'"> {{::value}}</div>
            <div ng-if="key ==='presents'" ng-repeat="(i, present) in value">{{::present}}</div>
            <div ng-if="key ==='honours'" ng-repeat="(i, honour) in value">
                <div ng-repeat="(key, value) in honour">
                    {{::key}} : {{::value}}
                </div>
            </div>

            </td>
        </tr>
    </tbody>
</table>