@font-face {
    font-family: 'Barocco_Floral_Initial';
    src: url(../fonts/Barocco_Floral_Initial.ttf);
}
@font-face {
    font-family: 'old_english';
    src: url(../fonts/old_english.ttf);
}

/*@font-face {
    font-family: 'MainTextFont';
    src: url(../fonts/Nexa.otf);
}*/


*{
    padding: 0;
    margin: 0;
}
html {
    background: #b89b70;
    background: -moz-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%, #b89b70), color-stop(100%, #78553d));
    background: -webkit-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -o-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: -ms-radial-gradient(top, ellipse cover, #b89b70 0%, #78553d 100%);
    background: radial-gradient(ellipse at top, #b89b70 0%, #78553d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#facd96', endColorstr='#2b2b2b', GradientType=1 );
    background-image: url(../img/main_bg_low.jpg);
    background-size: cover;
    height: 100%;
}
body {
    height: 100%;
    color: #000;
    font-family: "Comic Sans MS", cursive;
}
#page-container {
    height: 100%;
    margin: 0 auto;
    width: 90%;
    background-color: transparent;
}
